
input {
    margin-bottom: 20px;
    outline: none;
    border: none;
    padding: 10px 30px;
    background-color: #f6f6f6;
}

table {
    border-collapse: collapse;
}

table tr th, table tr td {
    padding: 5px 10px;
    font-size: 20px;
}